<h1>Browse Though All Videos</h1>

<% @videos.each do |video| %>
    <div class = "browse_all_video" > <br />
        <h3><%= video.title %> </h3>
        <%= link_to image_tag("video_poster/#{video.category}.png", :alt => "#{video.title}", :width => 80), video_path(video), :title => "#{video.title}" %> <br />
        <%= pluralize("#{video.hits}", 'view') %> &
        <%= pluralize("#{review_count(video)}", "review") %>
        <% if admin? %>
            <%= link_to "Edit Video", edit_video_path(video) %>
            <%= link_to "Delete Video", video_path(video), :confirm => "Admin, Do you really want to delete this Video? ", :method => :delete %>
        <% end %>
    </div><br />
<% end %>
<h3>
<%= will_paginate @videos %>
</h3>
