<h1><%= @video.title %></h1>
<!-- Begin VideoJS -->
 <div class="video-js-box">
   <video id="show_video" class="video-js" width="750" controls="controls" preload="auto"  >
     <source src='<%= "../resources/#{@video.category}/#{@video.path}.mp4" %>' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
   </video>
 </div>
 <!-- End VideoJS -->
<h3>
<div id = "response_count">
    Response Count: <%= Video.find(@video.id).likes.count %>
    <div id = "response_count_message" ></div>
</div>

<div id = "like_box">
    <% if auth_review? %>
        <% like_status = user_like_status(@video) %>

        <% if like_status == "neutral" %>
            <span id = "like"><%= link_to  image_tag("thumbs_up.png", :alt => "I Like This Video"), video_likes_path(@video), :title => "I Like This Video" %> </span>
            <span id = "dislike"><%= link_to image_tag("thumbs_down.png", :alt => "I Dislike This Video"), video_dislikes_path(@video), :title => "I Dislike This Video" %></span>
        <% elsif like_status == "like" %>
            <span id = "my_choice"><%= link_to  image_tag("thumbs_up.png", :alt => "I Like This Video"), video_likes_path(@video), :title => "I Like This Video" %> </span>
            <span id="dislike"><%= link_to image_tag("thumbs_down.png", :alt => "I Dislike This Video"), video_dislikes_path(@video), :title => "I Dislike This Video" %></span>
        <% else %>
            <span id = "like"><%= link_to  image_tag("thumbs_up.png", :alt => "I Like This Video"), video_likes_path(@video), :title => "I Like This Video" %> </span>
            <span id="my_choice"><%= link_to image_tag("thumbs_down.png", :alt => "I Dislike This Video"), video_dislikes_path(@video), :title => "I Dislike This Video" %></span>
        <% end %>
    <% elsif %>
        <span id = "noauth_like"><%= link_to  image_tag("thumbs_up.png", :alt => "I Like This Video"), new_person_session_path, :title => "I Like This Video" %> </span>
        <span id="noauth_dislike"><%= link_to image_tag("thumbs_down.png", :alt => "I Dislike This Video"), new_person_session_path, :title => "I Dislike This Video" %></span>
    <% end %>
</div>

</h3>
<div id= "video_description">
    <em><%= @video.description %></em>
</div>
<br />

<h2><hr />Video Reviews</h2>

<div id="review_notice">
    <% if @reviews.count < 1 %>
        <h3> No Reviews Yet, Be the first one to Review </h3>
    <% end %>

    <% if auth_review? %>
        <%= render 'reviews/form' %>
    <% elsif %>
        <i><b><%= "You Got To Login if You Want to Make a Review & Get Points... " %></b></i>
        <%= link_to "Yes, I Want", person_session_path %>
    <% end %>
</div>

<% @reviews.each do |review| %>
    <div class="video_review">
    <%= review.content %> <br />
    By:<%= id2person("#{review.person_id}") %> </br>
    </div>
<% end %>
<hr />