<!DOCTYPE html>
<html>
<head>
    <title>SproutTube</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'rails', 'jquery', 'jquery-ui', 'application', 'textsizer', 'video' %>
    <%= csrf_meta_tag %>
    <link rel="shortcut icon" href="favicon.ico" />
    <script type="text/javascript">
        // Must come after the video.js library

        // Add VideoJS to all video tags on the page when the DOM is ready
        VideoJS.setupAllWhenReady();
    </script>
</head>
<body>
    <div id="wrap">
        <div id="top">
            <h2><%= link_to "SproutTube.com", home_index_path %></h2>
            <div id="menu">
                <ul>
                    <li><%= link_to "Home", home_index_path %></li>
                    <li><%= link_to "Browse All", videos_path %></li>
                    <li>
                      <% if person_signed_in? %>
                        <%= link_to "LogOut", destroy_person_session_path %>
                      <% else %>
                        <%= link_to "LogIn", new_person_session_path %>
                      <% end %>
                    </li>
                    <li>
                    <% if admin? %>
                      <%= link_to "Add Video", new_video_path %>
                    <% end %>
                    </li>
                    <li> <%= render "shared/link" %> </li>
                </ul>

            </div>
        </div>
        <div id="content">
            <div style="float: right;"><a href="javascript:ts('body',1)">[+]</a> | <a
                href="javascript:ts('body',-1)">[-]</a></div>
                <div id="left">
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                    <h2>Welcome to SproutTube.com</h2>
                    <%= yield %>
                </div>
                <div id="show_right">
                    <div class="box">
                        <h2 style="margin-top:17px">You May Also Like</h2>
                        <ul>
                            <% @rec_videos= recommended_video(@video) %>
                            <% @rec_videos.each do |vid| %>
                                <li>
                                    <%= link_to "#{vid.title}", video_path(vid) %>
                                    <%= "Hits: #{vid.hits}" %>
                                    <%= "Reviews Count: #{review_count(vid)}" %> <br />
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div id="clear"></div></div>
                <div id="footer">
                    <p>Copyright 2011 SproutTube.com Valid <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="external">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer" rel="external">XHTML</a></p>
                </div>
            </div>
        </body>
</html>

